@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fraunces:opsz,wght@9..144,700&family=Karla&family=Kumbh+Sans:wght@300&family=Montserrat&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --primary-color: #6f2cff;
  --secondary-color: #20003c;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
  line-height: 1;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.12;
  color: #000;
}

.button {
  background-color: #6F2CFF;
  color: #fff;
  text-align: center;
  -webkit-transition: background 0.25s ease-out;
  transition: background 0.25s ease-out;
}
.button:hover {
  background-color: #5c22d8;
}

.form {
  position: relative;
  max-width: 455px;
}
.form__input {
  border-radius: 27.5px;
  padding: 13px 26px 11px;
  width: 100%;
  min-height: 45px;
  border: 1px solid #6F2CFF;
}
.form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.51);
  font-size: 15px;
  line-height: 1.4;
}
.form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.51);
  font-size: 15px;
  line-height: 1.4;
}
.form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.51);
  font-size: 15px;
  line-height: 1.4;
}
.form__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.51);
  font-size: 15px;
  line-height: 1.4;
}
.form__input::placeholder {
  color: rgba(0, 0, 0, 0.51);
  font-size: 15px;
  line-height: 1.4;
}
.form__button {
  padding: 13px 45px 11px;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 0px 27.5px 27.5px 0px;
  width: 100%;
  max-width: 187px;
  position: absolute;
  top: 0px;
  right: -1px;
}

.ecosystem {
  padding: 40px 0 20px;
}
@media (max-width: 1000px) {
  .ecosystem {
    padding: 50px 0;
  }
}
.ecosystem__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1000px) {
  .ecosystem__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
}
.ecosystem__content {
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 1000px) {
  .ecosystem__content {
    padding-left: 0;
  }
}
.ecosystem__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 567px;
          flex: 0 1 567px;
}
.ecosystem__image img {
  width: 100%;
}
@media (max-width: 1000px) {
  .ecosystem__image {
    margin: 0 auto;
  }
}
.ecosystem__title {
  margin-bottom: 47px;
}
.ecosystem__text {
  font-size: 13px;
  line-height: 2.31;
  color: #000;
}
.ecosystem__text:not(:last-child) {
  margin-bottom: 11px;
}
.ecosystem__button {
  font-weight: 700;
  font-size: 14px;
  border-radius: 30px;
  padding: 11px 34px 15px;
  margin-top: 74px;
}
@media (max-width: 1000px) {
  .ecosystem__button {
    margin-top: 47px;
  }
}

.offer {
  padding: 93px 15px 107px;
  text-align: center;
  background: url("../images/offer/Rectangle.jpg") center no-repeat;
  background-size: cover;
}
.offer__title {
  color: #fff;
  margin-bottom: 39px;
}
.offer__form {
  margin: 0 auto;
}
.offer__form .form__input {
  border: none;
  padding: 12px 20px;
}

.social {
  text-align: center;
  background-color: #fff;
  padding-bottom: 45px;
}
.social__text {
  font-size: 16px;
  line-height: 2.81;
  color: #1C1C1C;
  margin: 29px 0 25px;
}
.social__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  cursor: pointer;
}

.footer {
  padding: 57px 0 82px;
  background-color: #20003C;
  color: #FFFFFF;
}
.footer__inner {
  max-width: 1182px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 1112px) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .footer__top {
    gap: 50px;
  }
}
.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16.666%;
          flex: 1 1 16.666%;
}
.footer__menu:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 19%;
          flex: 1 1 19%;
}
@media (max-width: 1112px) {
  .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
  .footer__menu:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.footer__item:not(:last-child) {
  margin-bottom: 11px;
}
.footer__link {
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__bottom {
  text-align: center;
}
.footer__logo {
  margin: 45px 0 24px;
}
.footer__copy {
  font-size: 13px;
  line-height: 2.31;
}
.footer__icon {
  max-width: 1250px;
  padding: 0 15px;
  margin: -22px auto;
  text-align: left;
}
.footer__icon img {
  cursor: pointer;
}

._none {
  visibility: hidden;
}

._fw400 {
  font-weight: 400;
}

@media (max-width: 600px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}