@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fraunces:opsz,wght@9..144,700&family=Karla&family=Kumbh+Sans:wght@300&family=Montserrat&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --primary-color: #6f2cff;
  --secondary-color: #20003c;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  line-height: 1;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.12;
  color: #000;
}

.button {
  background-color: #6f2cff;
  color: #fff;
  text-align: center;
  transition: background 0.25s ease-out;
}
.button:hover {
  background-color: #5c22d8;
}

.form {
  position: relative;
  max-width: 455px;
}
.form__input {
  border-radius: 27.5px;
  padding: 13px 26px 11px;
  width: 100%;
  min-height: 45px;
  border: 1px solid #6f2cff;
}
.form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.51);
  font-size: 15px;
  line-height: 1.4;
}
.form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.51);
  font-size: 15px;
  line-height: 1.4;
}
.form__input::placeholder {
  color: rgba(0, 0, 0, 0.51);
  font-size: 15px;
  line-height: 1.4;
}
.form__button {
  padding: 13px 45px 11px;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 0px 27.5px 27.5px 0px;
  width: 100%;
  max-width: 187px;
  position: absolute;
  top: 0px;
  right: -1px;
}

.products {
  background-color: #f5f5f5;
}
.products__title {
  text-align: center;
  padding: 94px 0 0 0;
}
.products__text {
  text-align: center;
  margin: 28px 0 90px 0;
  font-size: 15px;
  line-height: 30px;
}
.products__image {
  display: flex;
  justify-content: center;
}
.products__image img {
  max-width: 76.5%;
}
.products__actions {
  display: flex;
  justify-content: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
  margin: 76px 0 0 0;
  padding: 0 0 101px 0;
}
.products__button {
  padding: 11px 45px 14px 45px;
  font-size: 15px;
  line-height: 15px;
  background: #6f2cff;
  border-radius: 30px;
}
.products__button:last-child {
  color: var(--primary-color);
  background: #ffffff;
  box-shadow: 0px 0px 0px var(--primary-color);
}

.services__container {
  padding: 0 150px 120px 150px;
}
.services__title {
  text-align: center;
  margin: 0 0 67px 0;
  padding: 94px 0 0 0;
}
.services__items {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1112px) {
  .services__items {
    flex-wrap: wrap;
  }
}
.services__item {
  margin: 0 0 100px 0;
  max-width: 270px;
  flex: 0 0 100%;
}
@media (max-width: 1112px) {
  .services__item {
    max-width: none;
  }
}

.item-service__icon {
  display: flex;
  justify-content: center;
}
.item-service__title {
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  line-height: 45px;
}
.item-service__text {
  font-size: 15px;
  line-height: 22px;
  color: #1c1c1c;
  text-align: center;
}

.brands {
  background-color: #f5f5f5;
}
.brands__title {
  text-align: center;
  padding: 88px 0 65px 0;
}
.brands__items {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 0 0 105px 0;
}
@media (max-width: 1112px) {
  .brands__items {
    flex-wrap: wrap;
  }
}
.brands__item {
  flex: 0 0 320px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
  border-radius: 7px 7px 7px 7px;
}
.brands__item:first-child::before {
  position: absolute;
  margin: 205px 0 0 -50px;
  content: url("../images/brands/arrow_left.svg");
}
@media (max-width: 1160px) {
  .brands__item:first-child::before {
    display: none;
  }
}
.brands__item:last-child::after {
  position: absolute;
  margin: -210px 0 0 320px;
  content: url("../images/brands/arrow_right.svg");
}
@media (max-width: 1160px) {
  .brands__item:last-child::after {
    display: none;
  }
}

.item-brands__icon img {
  width: 320px;
}
.item-brands__logo {
  display: flex;
  justify-content: center;
  padding: 25px 0 25px 0;
}
.item-brands__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--primary-color);
  padding: 0 55px 60px 55px;
}
.item-brands__text:first-child {
  padding: 25px 67px 60px 67px;
}

.specialize__container {
  align-items: center;
  padding: 94px 0 100px 0;
}
.specialize__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  padding: 94px 0 12px 0;
}
.specialize__text {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  padding: 0 0 65px 0;
  margin: 0 0 35px 0;
}
.specialize__items {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 30px 0 0 0;
}
@media (max-width: 1112px) {
  .specialize__items {
    flex-wrap: wrap;
    margin: 0;
  }
  .specialize__items:last-child {
    margin: 0 0 50px 0;
  }
}
.specialize__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 430px;
  height: 200px;
  background-color: #17002e;
  border-radius: 8px 10px 10px 8px;
  padding: 32px 55px 20px 30px;
}
@media (max-width: 1112px) {
  .specialize__item {
    padding: 32px 10px 20px 30px;
    flex: 0 0 360px;
    margin-bottom: 30px;
  }
}

.item-specialize__header {
  display: flex;
  align-items: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.item-specialize__title {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.item-specialize__text {
  font-size: 15px;
  margin: 20px 0 0 0;
  line-height: 22px;
  color: #ffffff;
}
.item-specialize__label {
  font-size: 15px;
  margin: auto 0 0 0;
  line-height: 15px;
  color: #ffffff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.item-specialize__label::after {
  display: flex;
  content: "";
  width: 115%;
  height: 2px;
  background: #ffffff;
  margin: 9.25px 0 0 0;
}

.ecosystem {
  padding: 40px 0 20px;
  background-color: #f5f5f5;
}
@media (max-width: 1000px) {
  .ecosystem {
    padding: 50px 0;
  }
}
.ecosystem__wrapper {
  display: flex;
  gap: 85px;
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 1000px) {
  .ecosystem__wrapper {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.ecosystem__content {
  padding-left: 20px;
  flex: 1 1 auto;
}
@media (max-width: 1000px) {
  .ecosystem__content {
    padding-left: 0;
  }
}
.ecosystem__image {
  flex: 0 1 567px;
}
.ecosystem__image img {
  width: 100%;
}
@media (max-width: 1000px) {
  .ecosystem__image {
    margin: 0 auto;
  }
}
.ecosystem__title {
  margin-bottom: 47px;
}
.ecosystem__text {
  font-size: 13px;
  line-height: 2.31;
  color: #000;
}
.ecosystem__text:not(:last-child) {
  margin-bottom: 11px;
}
.ecosystem__button {
  font-weight: 700;
  font-size: 14px;
  border-radius: 30px;
  padding: 11px 34px 15px;
  margin-top: 74px;
}
@media (max-width: 1000px) {
  .ecosystem__button {
    margin-top: 47px;
  }
}

.offer {
  padding: 93px 15px 107px;
  text-align: center;
  background: url("../images/offer/Rectangle.jpg") center no-repeat;
  background-size: cover;
}
.offer__title {
  color: #fff;
  margin-bottom: 39px;
}
.offer__form {
  margin: 0 auto;
}
.offer__form .form__input {
  border: none;
  padding: 12px 20px;
}

.social {
  text-align: center;
  background-color: #fff;
  padding-bottom: 45px;
}
.social__text {
  font-size: 16px;
  line-height: 2.81;
  color: #1c1c1c;
  margin: 29px 0 25px;
}
.social__menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.social__item {
  cursor: pointer;
}

.footer {
  padding: 57px 0 82px;
  background-color: #20003c;
  color: #ffffff;
}
.footer__inner {
  max-width: 1182px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  gap: 30px;
}
@media (max-width: 1112px) {
  .footer__top {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .footer__top {
    gap: 50px;
  }
}
.footer__menu {
  flex: 1 1 16.666%;
}
.footer__menu:nth-child(3) {
  flex: 1 1 19%;
}
@media (max-width: 1112px) {
  .footer__menu {
    flex: 1 1 30%;
  }
  .footer__menu:nth-child(3) {
    flex: 1 1 30%;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.footer__item:not(:last-child) {
  margin-bottom: 11px;
}
.footer__link {
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__bottom {
  text-align: center;
}
.footer__logo {
  margin: 45px 0 24px;
}
.footer__copy {
  font-size: 13px;
  line-height: 2.31;
}
.footer__icon {
  max-width: 1250px;
  padding: 0 15px;
  margin: -22px auto;
  text-align: left;
}
.footer__icon img {
  cursor: pointer;
}

._none {
  visibility: hidden;
}

._fw400 {
  font-weight: 400;
}

@media (max-width: 600px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}/*# sourceMappingURL=main.css.map */